# Ignore Python bytecode
__pycache__/
*.pyc
*.pyo

# Ignore virtual environment directories
.venv/
env/
venv/
.env

# Ignore system files
.DS_Store
Thumbs.db

# Ignore log files and databases
*.log
*.sqlite3

# Ignore IDE files
.idea/
.vscode/